<app-breadcrumb [title]="'Market Place'" [breadcrumb]="'Market Place'"></app-breadcrumb>

<div class="blog-list">
 
  <div class="container">
    <div class="d-flex justify-content-end mt-4">
      <a class="add-post-btn" (click)="showAddPostModal()">
        <mat-icon mat-stroked-button  class="mat-icon-lg mat-icon material-icons"  data-toggle="tooltip" data-placement="top" title="Add post">add
        </mat-icon>
      </a>
    </div>
    <div *ngFor="let post of postList | paginate: { itemsPerPage: 10, currentPage: page  }">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start" class="blog-list-wrapper  sec-padding position-relative">
        <div fxFlex="100" fxFlex.gt-sm="100" class="main-blog-panel w-100 ">
          <div class="single-blog-list shadow-box  card-height"  fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxFlex.gt-sm="30" class="image-box cursor-pointer" (click)="getDetails(id)">
              <img  class="image-scale" [src]="post.picture" onerror="this.src='assets/images/blog/b1.jpg'">
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="70" class="text-box mt-2 row">
                <div class="mt-2 title-margin cursor-pointer" (click)="getDetails(id)">
                  <h4>{{post.title}}</h4>
                </div>
                <ul fxLayout="row">
                  <li>
                    <button color="primary" mat-icon-button aria-label="Example icon-button with a heart icon">
                      <i class="material-icons">access_time </i>
                    </button>
                    {{post.createdAt | date}}
                  </li>
                  <li>
                    <button color="primary" mat-icon-button aria-label="Example icon-button with a heart icon">
                      <i class="material-icons">person </i>
                    </button>
                    Marc Spenser
                  </li>
                  <li>
                    <button color="primary" mat-icon-button aria-label="Example icon-button with a heart icon">
                      <i class="material-icons">sms </i>
                    </button>
                    {{post.comments.length}} Comments
                  </li>
                </ul>
                <p class="description-holder">{{post.description}}</p>
              </div>
              <div class="edit-buttons d-flex justify-content-center flex-column p-3" *ngIf="checkUser(post.user_id)">
                <mat-icon   class="mat-icon-lg mat-icon material-icons mb-2 cursor-pointer" (click)="showUpdatePostModal(post)" data-toggle="tooltip" data-placement="top" title="Edit post">edit
                </mat-icon>
                <mat-icon  class="mat-icon-lg mat-icon material-icons cursor-pointer"  data-toggle="tooltip" data-placement="top" title="Delete post"
                (click)="deletePost(post._id)">delete
                </mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="postList.length > 0" fxLayout="row wrap ">
      <div fxFlex="100">
          <pagination-controls class="product-pagination" autoHide="true" maxSize="5"
            (pageChange)="onPageChanged($event)"></pagination-controls>
      </div>
    </div>
    <ngx-skeleton-loader
    *ngIf="!contentLoaded"
      count="1"
      [theme]="{  height: '420px', top:'10px'}"
    ></ngx-skeleton-loader>
  </div>
</div>