<div class="category-contant">
  <ul>
    <li><a class="no-brd" [routerLink]="['/store/'] + id +['/products/all']">Show All</a></li>
    <li><a [routerLink]="['/store/'] + id +['/products/Headphones']">Headphones</a></li>
    <li><a [routerLink]="['/store/'] + id +['/products/Laptops']">Laptops</a></li>
    <li><a [routerLink]="['/store/'] + id +['/products/Smartphones']">Smart Phones</a></li>
    <li><a [routerLink]="['/store/'] + id +['/products/Cameras']">Cameras</a></li>
    <li><a [routerLink]="['/store/'] + id +['/products/Tv & Audio']">Tv & Audio</a></li>
    <li><a [routerLink]="['/store/'] + id +['/products/Watches']">Watches</a></li>
  </ul>
</div>