<div class="bg ">
    <mat-card   class="auth-card-position">
        <div class=" p-0"  >
            <div class="login-wrapper " >
              <div class="d-flex justify-content-center mt-3">
                <div>
                <img src="assets/images/logo-01.png" alt="logo" class="auth-card-logo">
              </div>
              </div>
                <div class="title">
                  <h3 class="text-center mt-3">Sign into your account</h3>
                </div>
                <form fxLayout="row wrap form-layout" [formGroup]="loginForm" (ngSubmit)="login()">
                    <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Username or email address (required)"  type="text"  formControlName="email" required>
                            <mat-error *ngIf="email.invalid">Please enter a valid message</mat-error>
                          </mat-form-field>
                    </div>
                    <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Password (required)" type="password"  formControlName="password" required>
                            <mat-error *ngIf="password.invalid">Please enter a valid message</mat-error>
                          </mat-form-field>
                    </div>
                    <div class="button-wrap mt-5" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <button class="btn-project text-center" mat-raised-button color="primary" type="submit">Log in</button>
                      </div>
                    </form>
                <p class="forgot-password-link text-center mt-3"><a href="#!" class="text-danger">Forgot password? </a></p>
                <p class="login-card-footer-text text-center ">Don't have an account? <a [routerLink]="['/auth/register']" class="text-danger">Register here</a></p>
              </div>
      </div>
    </mat-card>
    
</div>

  

