<div>
  <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ 'border-radius': '0', height: '550px'  }" count="1">
  </ngx-skeleton-loader>
  <app-main-carousel *ngIf="contentLoaded" [slides]="slides"></app-main-carousel>
</div>

<div class="home-1-wrap">
  <div class="container">

    <div class="featured-products-wrap mt-5">
      <div class="container">
        <div class="products sec-padding-home">
          <div class="products-four">
            <h3>POPULAR ITEMS</h3>
            <app-product-carousel [product]="products | slice:0:8"></app-product-carousel>
          </div>
        </div>
      </div>
    </div>
    <div class="featured-products-wrap">
      <div class="container">
        <div class="products sec-padding-home">
          <div class="products-four">

            <h3>FEATURED ITEMS</h3>
            <app-product-carousel [product]="products | slice:8:16"></app-product-carousel>

          </div>
        </div>

      </div>
    </div>
    <app-banners [banners]="banners"></app-banners>
  </div>
  <app-product-vertical [products]="products"></app-product-vertical>
</div>