<div class="card auth-card-position">
  <div class=" p-0">
    <div class="login-wrapper ">
      <div class="d-flex justify-content-center mt-3">
        <div class="mt-3">
          <img src="assets/images/logo-01.png" alt="logo" class="auth-card-logo">
        </div>
      </div>
      <div class="title">
        <h3 class="text-center mt-3">Sign up</h3>
      </div>
      <form fxLayout="row wrap form-layout" [formGroup]="registerForm" (ngSubmit)="register()">
        <div fxFlex="100" fxFlex.gt-sm="100" class="px-1 mt-3" ngClass.sm="mt-1" ngClass.xs="mt-1">

          <input class="form-control" placeholder="FistName (required)" type="text" formControlName="firstName"
            required>

        </div>
        <div fxFlex="100" fxFlex.gt-sm="100" class="px-1 mt-3" ngClass.sm="mt-1" ngClass.xs="mt-1">

          <input class="form-control" placeholder="LastName (required)" type="text" formControlName="lastName" required>

        </div>
        <div fxFlex="100" fxFlex.gt-sm="100" class="px-1 mt-3" ngClass.sm="mt-1" ngClass.xs="mt-1">

          <input class="form-control" placeholder="Email address (required)" type="email" formControlName="email"
            required>

        </div>
        <div fxFlex="100" fxFlex.gt-sm="100" class="px-1 mt-3" ngClass.sm="mt-1" ngClass.xs="mt-1">

          <input class="form-control" placeholder="Password (required)" type="password" formControlName="password"
            required>

        </div>
        <div fxFlex="100" fxFlex.gt-sm="100" class="px-1 mt-3" ngClass.sm="mt-1" ngClass.xs="mt-1">

          <input class="form-control" placeholder="Confirm password (required)" type="password"
            formControlName="confirmPassword" required>

        </div>
        <div class="button-wrap mt-5" fxFlex="100" fxFlex.gt-sm="100" class="px-1 mt-3" ngClass.sm="mt-1" ngClass.xs="mt-1">
          <button class="btn btn-project text-center" mat-raised-button color="primary" type="submit">Register</button>
        </div>
      </form>
      <p class="login-card-footer-text text-center mt-3 ">Already have an account? <a [routerLink]="['/auth/login']"
          class="text-danger">Log in</a></p>
    </div>
  </div>
</div>