.auth-layout{
    width: 100%;
    height: 100%;
}
.bg {
    background-image: url("../assets//images/auth-bg.jpg");
    height: 100% !important; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  