<div class="product-item">
   <mat-card fxLayout="column">
      <div class="product-img ">
         <a class="product-link " [routerLink]="['/store/', product._id]">
            <img class="image" [src]="product.picture" onerror="this.src='../../../../assets/images/logo-01.png'"
                alt="image description">
         </a>
         <div class="icons" fxLayout="column">
            <!-- <a (click)="addToWishlist(product)" class="hvr-icon-pulse-shrink"><mat-icon class="hvr-icon mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon></a> -->
         </div>
      </div>
      <div class="product-info-wrapper">
         <div class="title-wrap"><h4>{{product.first_name + ' ' + product.last_name}}</h4></div>
         <span class="category">{{product.role}}</span>
         <!-- <div class="stars">
            <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
            <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
            <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
            <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
            <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
         </div> -->
      </div>
   </mat-card>
</div>