<app-breadcrumb [title]="'Blog details'" [breadcrumb]="'Blog details'"></app-breadcrumb>

<div class="blog-details">
    <div class="container">
        <div class="blog-list-wrapper sec-padding" fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxFlex.gt-sm="70" class="main-blog-panel">
                <div class="single-blog-list">
                    <div class="author-box">
                        <div class="post-author">
                            <div class="inner d-flex align-items-center">
                                <div class="img-box">
                                    <img class="img-responsive" *ngIf="contentLoaded"
                                        [src]="postDetails?.user_id.picture">
                                    <img class="image-scale" *ngIf="!postDetails?.user_id.picture && contentLoaded"
                                        src="assets/images/user-photo.jpg">
                                </div>
                                <div class="text-box">
                                    <h4> {{postDetails?.user_id.first_name}} {{postDetails?.user_id.last_name}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-box mb-4">
                        <h4 class="post-title">{{postDetails?.title}}</h4>
                    </div>
                    <ngx-skeleton-loader *ngIf="!contentLoaded" count="1" [theme]="{  height: '520px'}">
                    </ngx-skeleton-loader>
                    <div class="image-box d-flex justify-content-center">
                        <img class="image-scale" *ngIf="contentLoaded" [src]="postDetails?.picture">
                        <img class="image-scale" *ngIf="!postDetails?.picture && contentLoaded"
                            src="assets/images/blog/b1.jpg">
                    </div>
                    <div class="text-box">
                        <ul class="det-info" fxLayout="row">
                            <li *ngIf="postDetails?.createdAt">
                                <button color="primary" mat-icon-button
                                    aria-label="Example icon-button with a heart icon">
                                    <i class="material-icons">access_time </i>
                                </button>
                                {{postDetails?.createdAt | date}}
                            </li>
                            <li *ngIf="postDetails?.comments">
                                <button color="primary" mat-icon-button
                                    aria-label="Example icon-button with a heart icon">
                                    <i class="material-icons">sms </i>
                                </button>
                                {{postDetails?.comments.length}} Comments
                            </li>
                        </ul>
                        <p>{{postDetails?.description}}</p>
                    </div>
                    <div  *ngIf="postDetails?.comments.length>0" class="comments-area">
                        <div class="group-title">
                            <h3>Read Comments</h3>
                        </div>
                        <div *ngFor="let comment of postDetails?.comments">
                            <!--Comment Box-->
                            <div class="comment-box">
                                <div class="comment">
                                    <div class="comment-inner">
                                        <div class="d-flex align-items-center">
                                            <mat-icon>person</mat-icon>
                                            <div class="comment-info clearfix text-center">{{comment.user_id.first_name}} {{comment.user_id.last_name}} – {{comment.createdAt | date}}</div>
                                        </div>
                                        <div class="text">{{comment.content}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="contact-form">
                        <div class="header-title">
                            <h3>Add Your Comment</h3>
                        </div>
                        <form fxLayout="row wrap" [formGroup]="commentForm" (ngSubmit)="addComment()">

                            <div fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                                <mat-form-field class="w-100">
                                    <textarea placeholder="Comment content" matInput rows="4" formControlName="comment"
                                        name="content"></textarea>
                                    <mat-error *ngIf="comment.invalid && comment.touched">Please enter a valid message</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1"
                                ngClass.xs="mt-1">
                                <button class="btn-project" class="btn-project" mat-raised-button color="primary"
                                    type="submit">Submit Review</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="30" class="sidebar">
                <div class="blog-sidebar">
                    <div class="single-sidebar-widget mb-30">
                        <div class="post-widget">
                            <div class="title">
                                <h4>Our stores</h4>
                                <div class="decor-line"></div>
                            </div>
                            <ul>
                                <li fxLayout="row">
                                    <div fxFlex="100" fxFlex.gt-sm="30" class="icon-box bg-color"><img
                                            src="assets/images/logo-02-01.png" alt="Awesome Image"></div>
                                    <div fxFlex="100" fxFlex.gt-sm="70" class="text-box d-flex align-items-center">
                                        <h5><a href="#">Vapix</a></h5>
                                    </div>
                                </li>
                                <li fxLayout="row">
                                    <div fxFlex="100" fxFlex.gt-sm="30" class="icon-box  bg-color"><img
                                            src="assets/images/logo-02-01.png" alt="Awesome Image"></div>
                                    <div fxFlex="100" fxFlex.gt-sm="70" class="text-box d-flex align-items-center">
                                        <h5><a href="#">Mister vape</a></h5>
                                    </div>
                                </li>
                                <li fxLayout="row">
                                    <div fxFlex="100" fxFlex.gt-sm="30" class="icon-box  bg-color"><img
                                            src="assets/images/logo-02-01.png" alt="Awesome Image"></div>
                                    <div fxFlex="100" fxFlex.gt-sm="70" class="text-box d-flex align-items-center">
                                        <h5><a href="#">Panda</a></h5>
                                    </div>
                                </li>
                                <li fxLayout="row">
                                    <div fxFlex="100" fxFlex.gt-sm="30" class="icon-box  bg-color"><img
                                            src="assets/images/logo-02-01.png" alt="Awesome Image"></div>
                                    <div fxFlex="100" fxFlex.gt-sm="70" class="text-box d-flex align-items-center">
                                        <h5><a href="#">Panda</a></h5>
                                    </div>
                                </li>
                                <li fxLayout="row">
                                    <div fxFlex="100" fxFlex.gt-sm="30" class="icon-box  bg-color"><img
                                            src="assets/images/logo-02-01.png" alt="Awesome Image"></div>
                                    <div fxFlex="100" fxFlex.gt-sm="70" class="text-box d-flex align-items-center">
                                        <h5><a href="#">Panda</a></h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>