<app-breadcrumb [title]="'Contact'" [breadcrumb]="'Contact'"></app-breadcrumb>

<div class="contact-page sec-padding">
  <div class="container">
  
  <mat-card>
    <div class="map">
      <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Avenue%20de%20Yasser%20Arafat,sahloul%20sousse%20tunisa+(My%20Business%20Name)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"   allowfullscreen></iframe>
  </div>
  <div class="mt-20"> 
      <div class="title">
        <h3>Contact us</h3>
      </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="mt-20" >
      <div fxFlex="100"   fxFlex.gt-sm="60" class="left-info-panel">
  
         <ul>
           <li>
              <i class="material-icons">home </i>
              <br>
            <h4>Address</h4>
            <br>
           <p class="text-muted">Avenue de Yasser Arafat, Sahloul, Sousse</p>
           </li>
           <li>
              <i class="material-icons">call </i>
              <br>
            <h4>Phone</h4>
            <br>
            <p class="text-muted">+216 53 897 129 / +216 24 260 330 / +216 54 836 708</p>
           </li>
           <li>
              <i class="material-icons">email </i>
              <br>
            <h4>Email</h4>
            <br>
            <p class=" text-muted text-muted">vapestore@gmail.com</p>
           </li>
         </ul>
      </div>
      <div fxFlex="100"   fxFlex.gt-sm="60" class="contact-form">
        
        <form fxLayout="row wrap" [formGroup]="contactForm" (ngSubmit)="sendMail()">
          <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field class="w-100">
              <input matInput placeholder="Your Name" name="name" formControlName="name">
              <mat-error *ngIf="name.errors?.required">Email is required</mat-error>

            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field class="w-100">
              <input matInput placeholder="Email" name="Your Email" formControlName="email">
              <mat-error *ngIf="email.invalid">Please enter a valid message</mat-error>
              <mat-error *ngIf="email.errors?.required">Email is required</mat-error>

            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field class="w-100">
              <input matInput placeholder="Subject" name="subject" formControlName="subject">
              <mat-error *ngIf="subject.errors?.required">Email is required</mat-error>

            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field class="w-100">
              <textarea placeholder="Content" matInput rows="6" name="content" formControlName="content"></textarea>
              <mat-error *ngIf="content.errors?.required">Email is required</mat-error>

            </mat-form-field>
          </div>
          <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <button class="btn-project" mat-raised-button color="primary" type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </mat-card>
</div>
</div>