.add-post-btn{
    width: 38px;
    height: 38px;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    line-height: 46px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-deafult);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);

    mat-icon{
     color: white;
    }
}

a:hover{
    width: 42px;
    height: 42px;
}